/* SCSS IMPORTS */
@import "reset-normalize";
@import "compass/css3";
@import "mixins";
@import "functions";

/* VARIABLES */
$lightText: #ffffff;
$paramoreBlue: #0388bc;

/* STRUCTURE */
@viewport {
   width: device-width;
}

*, *:before, *:after {
	@include box-sizing;
}

body {
	padding-top: 20px;
	background: rgba(#111,1);
}

section, footer {
	text-align: center;
}

section {
	padding-top: 170px;
}

.content {
	max-width: 1029px;
	margin: 0 auto;
}

hgroup {
	max-width: 602px;
	margin: 0 auto;
}

/* TYPOGRAPHY */
html {
	color: $lightText;
	font-family: Arial;
	font-size: 100%;
}

.splash__headline {
	font-size: rem();
}

a {
	color: $paramoreBlue;
}

.splash__headline {
	color: $lightText;
	line-height: rem(74);
	font-family: "Helvetica";
	font-size: rem(75);
	font-weight: bold;
	@include text-shadow(0 1px 5px rgba(9,9,9,.1));
	&:last-child {
		margin-bottom: 27px;
	}
}

.splash__copy {
	line-height: 1.5;
	padding: 0 48px;
	&:last-child {
		margin-bottom: 55px;
	}
}

.copyright {
	font-size: rem(10);
	color: rgba($lightText, .4);
}

/* BACKGROUND STYLES */
.background {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
}
.videoBackground {
	@extend .background;
	position: absolute;
	top: 0;
	opacity: .8;
	z-index: -9999;
}

.mobile {
	background: url('../images/splashpage.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	opacity: .8;
	* {

	opacity: 1;
	}
}

.mobile video {
	display: none;
}

/* LIGHTBOX STYLES */
.gallery__container {
    postition: relative;
    overflow: hidden;
}

.gallery__slide {
    display: block;
    min-width: 0px;
    max-width: 600px;
    position: absolute;
    opacity: 0;
    display: none;
}

.gallery__slide * {
    width: 100%;
}

.active {
    opacity: 1;
    display: initial;
}

/* GENERAL STYLES */
.logo {
	width: 41px;
	height: 42px;
}

.splash__btn {
	border: 1px solid rgba(#fff, .5);
	font-weight: bold;
	display: inline-block;
	padding: 13px 26px;
	text-decoration: none;
	color: $lightText;
	
}

.arrow-icon {
	background: url('../images/arrow-icon.svg');
	background-repeat: no-repeat;
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-left: 9px;
}
