/* SCSS IMPORTS */
@import "reset-normalize";
@import "compass/css3";
@import "mixins";
@import "functions";

/* VARIABLES */
$lightText: #ffffff;
$paramoreBlue: #0388bc;

/* STRUCTURE */
@viewport {
   width: device-width;
}

*, *:before, *:after {
	@include box-sizing;
}

body {
	padding-top: 20px;
	background: rgba(#111,1);
}

section, footer {
	text-align: center;
}

section {
	padding-top: 170px;
}

.content {
	max-width: 1029px;
	margin: 0 auto;
}

hgroup {
	max-width: 602px;
	margin: 0 auto;
}

footer.content {
	margin-top: 207px;
	margin-bottom: 55px;
}

/* TYPOGRAPHY */
html {
	color: $lightText;
	font-family: Arial;
	font-size: 100%;
}

.splash__headline {
	font-size: rem();
}

a {
	color: $paramoreBlue;
	text-decoration: none;
	font-weight: bold;
}

.splash__headline {
	color: $lightText;
	line-height: rem(74);
	font-family: "Helvetica";
	font-size: rem(75);
	font-weight: bold;
	@include text-shadow(0 1px 5px rgba(9,9,9,.1));
	&:last-child {
		margin-bottom: 26px;
	}
}

.splash__copy {
	line-height: 1.5;
	padding: 0 48px;
	&:last-child {
		margin-bottom: 55px;
	}
}

.footer-text {
	opacity: .8;
}

.copyright {
	font-size: rem(10);
	color: rgba($lightText, .4);
	margin-top: 16px;
}

/* BACKGROUND STYLES */

.videoBackground {
	position: absolute;
	top: 0;
	height: 100%;
	opacity: .8;
	z-index: -9999;
	overflow: hidden;
}
video {
	height: 100%;
}

.mobile {
	background: url('../images/splashpage.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	opacity: .8;
	* {

	opacity: 1;
	}
}

.mobile video {
	display: none;
}

/* LIGHTBOX STYLES */
.lightbox {
  display: none;
  position: relative;
}

.lightbox__bkg {
  background: rgba(0,0,0,.75);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

.gallery {
  width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

.gallery__container {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    min-height: 400px;
    width: 100%;
}

.gallery__container ul {
	position: fixed;
}

.gallery__slide {
    min-width: 0px;
    max-width: 600px;
    position: absolute;
    opacity: 0;
    display: none;
}

.gallery__next {
	position: absolute;
	margin: auto 0;
	background: url('../images/arrow-right.svg');
	width: 16px;
	height: 24px;
	left: -55px;
}

.gallery__slide img {
    //width: 100%;
}

.active {
    opacity: 1;
    display: initial;
}

.gallery__nav {
  width: 600px;
  overflow: hidden;
}

.gallery__nav__containter {
  width: 700px;
  position: initial;
}

.gallery__nav-item {
	background: rgba(#000, 1);
  list-style: none;
  display: inline-block;
}

.gallery__nav-item.active span {
  opacity: 1;
}

.gallery__nav__thumb {
  display: inline-block;
  width: 136px;
  height: 136px;
  margin-right: 19px;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.gallery__nav__thumb:not(:first-child) {
	@extend .gallery__nav__thumb;
 	margin-left: -4px;
}

.gallery__nav__thumb span {
  display: block;
  width: 100px;
  margin-left: -33px;
  opacity: .5;
}

.gallery__thumb img {
  display: block;
  position: absolute;
  left: -50%;

}

/* GENERAL STYLES */
.logo {
	width: 41px;
	height: 42px;
}

.splash__btn {
	border: 1px solid rgba(#fff, .5);
	font-weight: bold;
	display: inline-block;
	margin-top: 55px;
	padding: 13px 26px;
	text-decoration: none;
	color: $lightText;
	
}

.arrow-icon {
	background: url('../images/arrow-icon.svg');
	background-repeat: no-repeat;
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-left: 9px;
}
