/* SCSS IMPORTS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* determine rem value for functions */
/* rem Function */
/* rem Line Height */
/* VARIABLES */
/* STRUCTURE */
@viewport {
  width: device-width;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  background: #111111;
}

section, footer {
  text-align: center;
}

section {
  padding-top: 170px;
}

.content {
  max-width: 1029px;
  margin: 0 auto;
}

hgroup {
  max-width: 602px;
  margin: 0 auto;
}

footer.content {
  margin-top: 207px;
  margin-bottom: 55px;
}

/* TYPOGRAPHY */
html {
  color: white;
  font-family: Arial;
  font-size: 100%;
}

.splash__headline {
  font-size: 1rem;
}

a {
  color: #0388bc;
  text-decoration: none;
  font-weight: bold;
}

.splash__headline {
  color: white;
  line-height: 4.625rem;
  font-family: "Helvetica";
  font-size: 4.6875rem;
  font-weight: bold;
  text-shadow: 0 1px 5px rgba(9, 9, 9, 0.1);
}
.splash__headline:last-child {
  margin-bottom: 26px;
}

.splash__copy {
  line-height: 1.5;
  padding: 0 48px;
}
.splash__copy:last-child {
  margin-bottom: 55px;
}

.copyright {
  font-size: 0.625rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 16px;
}

/* BACKGROUND STYLES */
.videoBackground {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: .8;
  z-index: -9999;
  overflow: hidden;
}

video {
  height: 100%;
}

.mobile {
  background: url("../images/splashpage.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  opacity: .8;
}
.mobile * {
  opacity: 1;
}

.mobile video {
  display: none;
}

/* LIGHTBOX STYLES */
.lightbox {
  display: none;
  position: relative;
}

.lightbox__bkg {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

.gallery {
  width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

.gallery__container {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  min-height: 400px;
  width: 100%;
}

.gallery__container ul {
  position: fixed;
}

.gallery__slide {
  min-width: 0px;
  max-width: 600px;
  position: absolute;
  opacity: 0;
  display: none;
}

.gallery__next {
  position: absolute;
  margin: auto 0;
  background: url("../images/arrow-right.svg");
  width: 16px;
  height: 24px;
  left: -55px;
}

.active {
  opacity: 1;
  display: initial;
}

.gallery__nav {
  width: 600px;
  overflow: hidden;
}

.gallery__nav__containter {
  width: 700px;
  position: initial;
}

.gallery__nav-item {
  background: black;
  list-style: none;
  display: inline-block;
}

.gallery__nav-item.active span {
  opacity: 1;
}

.gallery__nav__thumb, .gallery__nav__thumb:not(:first-child) {
  display: inline-block;
  width: 136px;
  height: 136px;
  margin-right: 19px;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.gallery__nav__thumb:not(:first-child) {
  margin-left: -4px;
}

.gallery__nav__thumb span, .gallery__nav__thumb:not(:first-child) span {
  display: block;
  width: 100px;
  margin-left: -33px;
  opacity: .5;
}

.gallery__thumb img {
  display: block;
  position: absolute;
  left: -50%;
}

/* GENERAL STYLES */
.logo {
  width: 41px;
  height: 42px;
}

.splash__btn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  display: inline-block;
  margin-top: 55px;
  padding: 13px 26px;
  text-decoration: none;
  color: white;
}

.arrow-icon {
  background: url("../images/arrow-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 9px;
}
